<div class="m-3">
  <h1>Result</h1>
  <p><%= @letters_grid %></p>
  <p><%= @result %></p>
  <p>Your score is: <%= @score %> points.</p>
  <p><%= link_to "Play again", "/new", class: "text-decoration-none" %></p>
</div>
